.hero {
  background-image: url(../../public/bg_hospital.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 88.6vh;
  width: 100%;
  display: flex;
  align-items: center;

  Form {
    background-color: #a0d683;
    width: 30%;
    margin-left: 8em;
    padding-inline: 3em;
    padding-block: 2em;
    display: grid;
    gap: 0.5em;
    border-radius: 0.5em;
    @media (max-width: 768px) {
      
    }
    h2 {
      text-align: center;
      font-size: 2rem;
      color: #22922c;
    }
    .input {
      display: flex;
      flex-direction: column;
      gap: 0.3em;
    }
  }
}
