.patient {
  padding-block: 2em;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  h2 {
    text-align: center;
    font-size: 2rem;
  }
  .filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // outline: 2px solid red;
    .status {
      //  outline: 2px solid red;
      display: flex;
      justify-content: center;
      align-items: center;
      // margin-top: 20px;

      button {
        background-color: #7dc54d; /* Light green background */
        color: white; /* White text */
        padding: 10px 20px; /* Button padding */
        border: none; /* Remove border */
        border-radius: 5px; /* Rounded corners */
        font-size: 16px; /* Font size */
        cursor: pointer; /* Pointer cursor on hover */
        transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition for background and scale */

        &:hover {
          background-color: #74be1f; /* Darker green on hover */
          transform: scale(1.05); /* Slight scaling effect */
        }

        &:focus {
          outline: none; /* Remove outline on focus */
        }
      }
    }
    .date {
      //  outline: 2px solid red;
      input,
      label {
        font-weight: 600;
      }
      label {
        font-size: 1.5rem;
      }
      input {
        font-size: 1.2rem;
      }
    }
  }

  .doc {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
    > div {
      background-color: #ffffff;
      padding: 1.5em;
      border-radius: 0.5em;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      transition: transform 0.2s ease, box-shadow 0.2s ease;
      border-left: 5px solid green;
      border-top: 5px solid green;

      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
        border-left: none;
        border-top: none;
      }

      p {
        margin: 0.5em 0;
        font-size: 1em;
        color: #333;
      }

      button {
        margin-top: 1em;
        padding: 0.5em 1.2em;
        font-size: 1em;
        color: #fff;
        background-color: green;
        border: none;
        border-radius: 0.3em;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: darkgreen;
        }
      }
    }
  }
}
